
.infoBar{
    height:60px;
    width: 100%;
    border:1px solid #ccc;
    border-radius: 4px 4px 0 0;
    background: blueviolet;
    position: relative;
    color: white;
}

.close{
    display: inline-block;
    width: 5px;
    height: 5px;
    border:1px solid #ddd;
    position: absolute;
    right: 20px;
    cursor: pointer;
}